<<<<<<< HEAD

.img-list a {
    display: block;
    margin: auto;
  }
  
  .img-wrap {
    background-color: #fff;
    margin-bottom: .8em;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .img-wrap img {
    min-width: 100%;
  }

  .inner,
  .main-content {
    width: 90%;
    max-width: 1025px;
    margin: auto;
  }
  
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    min-height: 80px;
    z-index: 1000;
  }
=======
body {
  background-image: url("img.jpg");
}

.main-title {
}


.main-content {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.img-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  list-style: none;
}
img {
 width: 300px;
 border: 2px solid black;
}

form{
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.search {
  width: 400px;
  height: 40px;
  border-radius: 10px 0px 0px 10px;
  outline: none;
  font-size: 16px;
}

.btn {
  width: 200px;
  border-radius: 0px 10px 10px 0px;
  background-color: #007C96;
  border: 0;
  color: white;
}

.btn:hover {
  cursor: pointer;
  background-color: #009CB7;
}
>>>>>>> 30cec31611e113053afb9526d19d289941d8c28d
